NODE_ENV=local

DB_ENGINE=mysql
DB_HOST=db
DB_USER=cleverapp
DB_PORT=3306
DB_PASSWORD=ChMJFvRVm7AtWWfJTCVqj
DB_DATABASE=cleverapp_local
DB_POOL_MIN=2
DB_POOL_MAX=10


REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=local

PORT=8080

SESSION_SECRET=ZvMX5hP2tp3wsJGKzhB4R
HEALTH_CHECK_SECRET=7_SQNu60CQJg9O_MaicAc

TRANSPORT=ses

JWT_ALGORITHM=HS256
JWT_SECRET=shhhhhhhhhh

# JWT configuration for CleverAuth
JWT_ALGORITHM=HS256
JWT_SECRET=shhhhhhhhhh

# Use Amazon SES in email-service
TRANSPORT=ses

# Amazon credentials for Amazon SES
AWS_KEY=
AWS_SECRET=
AWS_REGION=us-west-1

# 'From' field for sending email messages
DEFAULT_FROM=

# Base URL. Required to generate links for call to actions in email messages
BASE_URL=

# If sending SMS for 2FA with Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUMBER_FROM= # phone number or alphanumeric sender id
